name: Terragrunt Destroy

on:
  workflow_dispatch:

env:
  AWS_REGION: eu-west-2

jobs:
  terragrunt-destroy:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::985539771340:role/github-actions-terraform
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3

      - name: Install Terragrunt
        run: |
          TG_VERSION=0.56.0
          curl -Lo terragrunt https://github.com/gruntwork-io/terragrunt/releases/download/v${TG_VERSION}/terragrunt_linux_amd64
          chmod +x terragrunt
          sudo mv terragrunt /usr/local/bin/terragrunt

      - name: Terragrunt Init
        working-directory: terraform/terragrunt/${{ github.event.inputs.environment }}
        run: terragrunt init

      - name: Terragrunt Destroy
        working-directory: terraform/terragrunt/${{ github.event.inputs.environment }}
        terragrunt destroy --terragrunt-non-interactive -auto-approve