name: Docker Build & Push

on:
  push:
    branches:
      - dev
      - staging
      - main
  workflow_dispatch:

env:
  AWS_REGION: eu-west-2
  ECR_REGISTRY: 985539771340.dkr.ecr.eu-west-2.amazonaws.com
  ECR_REPOSITORY: collab-notes-app
  IMAGE_TAG: latest
  COMMIT_SHA: ${{ github.sha }}

jobs:
  docker:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS credentials (OIDC)
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: arn:aws:iam::985539771340:role/github-actions-terraform
          aws-region: ${{ env.AWS_REGION }}

      - name: Docker Login to ECR
        run: |
          aws ecr get-login-password --region $AWS_REGION | docker login --username AWS --password-stdin $ECR_REGISTRY

      - name: Build Docker image
        run: docker build -f ./app/Dockerfile -t $ECR_REGISTRY/$ECR_REPOSITORY:$IMAGE_TAG -t $ECR_REGISTRY/$ECR_REPOSITORY:$COMMIT_SHA ./app

      - name: Scan Docker image for vulnerabilities
        uses: aquasecurity/trivy-action@master
        with:
          image-ref: ${{ env.ECR_REGISTRY }}/${{ env.ECR_REPOSITORY }}:${{ env.IMAGE_TAG }}
          format: table
          exit-code: 0 

      - name: Push Docker image to ECR
        run: docker push --all-tags $ECR_REGISTRY/$ECR_REPOSITORY